<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
        xmlns:tools="http://schemas.android.com/tools">

    <uses-feature
            android:name="android.hardware.camera"
            android:required="false" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />

    <application
            android:name=".DemoApp"
            android:allowBackup="true"
            android:fullBackupContent="@xml/backup_rules"
            tools:targetApi="31"
            android:dataExtractionRules="@xml/data_extraction_rules"
            android:label="@string/app_name"
            android:icon="@mipmap/ic_launcher"
            android:roundIcon="@mipmap/ic_launcher_round"
            android:supportsRtl="true"
            android:theme="@style/Theme.TcrCloudStreamDemo">


        <activity android:name=".HomeActivity" android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".sfu.ui.GetTokenActivity" />
        <activity
                android:name=".common.ui.PlayActivity"
                android:configChanges="orientation|screenSize" />
        <activity android:name=".common.ui.InstanceListActivity" />
        <activity
            android:name=".common.ui.InputActivity"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />

        <activity android:name=".operator.ui.LoginActivity"/>
        <activity android:name=".operator.ui.FunctionActivity" />
    </application>
</manifest>